<html>
<head>
    <title>Video Streaming </title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <div class="canvas_div split left">
        <div class="centered">
            <canvas id="canvas" width="640px" height="480px"></canvas>
        </div>
    </div>
    <div class="web_content_div split right"></div>
    <!-- <script type="text/javascript" src="../static/scripts/script.js"></script> -->

    <script>
        var ctx = document.getElementById("canvas").getContext('2d');
        var img = new Image();
        img.src = "{{ url_for('video_feed') }}";

        function refreshCanvas(){
            ctx.drawImage(img, 0, 0);
        };
        window.setInterval("refreshCanvas()", 50);
    </script>
</body>
</html>