<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yatri Guide </title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="canvas_div split left">
        <div class="centered" >
            <canvas id="canvas" width="640px" height="480px"></canvas>
        </div>

        <div id="instructions" style="padding-top: 57vh; padding-left: 18px; font-size: 25px;">
            <h4 style="color: rgb(144, 0, 0);">NOTE:</h4>
            <p>
                <ul style="padding-left: 18px;">
                    <li>Keep your nose in the green rectangle for no cursor/scroll movement</li>
                    <li>Perform each action for minimum duration of <b>1 sec</b></li>
                </ul>
            </p>
            <br>
            <p><b>Controls:-</b></p>
            <br>
            <table id="inst-table">
                <tr>
                    <th>Action to be Performed</th>
                    <th>Gesture</th>
                </tr>
                <tr>
                    <td>Left Mouse Click</td>
                    <td>Left Eye Wink</td>
                </tr>   
                <tr>
                    <td>Right Mouse Click</td>
                    <td>Right Eye Wink</td>
                </tr> 
                <tr>
                    <td>Cursor/Scroll Movements</td>
                    <td>Head Movements</td>
                </tr> 
                <tr>
                    <td>Toggle Between Scroll/ Cursor Mode</td>
                    <td>Squit Eyes and Open Mouth</td>
                </tr> 
            </table>
        </div>
    </div>
    </div>
    <div class="web_content_div split right">
        <div id="app_name">Yatri Guide</div>
        <div class="message">Welcome to Touch-Free Train Schedule Interface<br><br> Choose the mode of transport you wish to browse and explore. <br></div>
        <div class="vehicle_type">
            <div class="train" id="train" onclick="clicked_div(this.id);">Express</div>
            <div class="bus" id="bus" onclick="clicked_div(this.id);">MSRTC</div>
            <div class="metro" id="metro" onclick="clicked_div(this.id);">Local</div>
        </div>
    </div>
    <script type="text/javascript" src="../static/scripts/script.js"></script>
    <script>
        var ctx = document.getElementById("canvas").getContext('2d');
        var img = new Image();
        img.src = "{{ url_for('video_feed') }}";
        function refreshCanvas(){
            ctx.drawImage(img, 0, 0);
        };
        window.setInterval("refreshCanvas()", 50);
    </script>
</body>
</html>