<!DOCTYPE html>
<html>
<head>
    <title>Yatri Guide</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="canvas_div split left">
        <div class="centered">
            <canvas id="canvas" width="640px" height="480px"></canvas>
        </div>
    </div>

    <div class="web_content_div split right">
        <div id="app_name">Yatri Guide</div>    
        <div id="content" style="text-align: center;">
            <div id="from">
                Source: <br>
                <select id="station-from" name="station-from">
                    <optgroup>
                        <option value="" selected disabled hidden>Choose here</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Kolkata">Kolkata</option>
                        <option value="Delhi">Delhi</option>
                    </optgroup>
                </select>
            </div>
            <div id="to">
                Destination: <br>
                <select id="station-from" name="station-from">
                    <optgroup>
                        <option value="" selected disabled hidden>Choose here</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Kolkata">Kolkata</option>
                        <option value="Delhi">Delhi</option>
                    </optgroup>
                </select>
            </div>
            <div id="buttons">
                <div id="availability"> Check Availability </div>
                <div id="fare"> Calculate Fare </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../static/scripts/script.js"></script>
    <script>
        var ctx = document.getElementById("canvas").getContext('2d');
        var img = new Image();
        img.src = "{{ url_for('video_feed') }}";

        function refreshCanvas(){
            ctx.drawImage(img, 0, 0);
        };
        window.setInterval("refreshCanvas()", 50);
    </script>
</body>
</html>